@using Entity;
@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}
<h2>Kategoriler</h2>
<p>
    <a class="btn btn-info" asp-action="AddCategory">Kategori Ekle</a>
</p>
<div class="row">
    <div class="col-md-6">
        <table class="table table-success table-striped">
            <thead>
                <tr class="table-info">
                    <th>
                        @Html.DisplayNameFor(model => model.CategoryName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </td>
                        <td  align="right">
                            <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Güncelle</a> |
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>