@using Graduation_Project.ViewModels;
@model ProductViewModel

@{
    ViewData["Title"] = "UpdateProduct";
}

<h1>Ürün Güncelleme</h1>


<form asp-controller="Home" asp-action="UpdateProduct" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ProductImage">
    <div>
        <img src="~/images/@Model.ProductImage" width="300px">
    </div>

    <div class="mb-3">
        <label for="Name" class="form-label">Ürün ismi :</label>
        <input class="form-control" asp-for="Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label for="Price" class="form-label">Ürün fiyat :</label>
        <input class="form-control" asp-for="Price">
        <span class="text-danger" asp-validation-for="Price"></span>

    </div>
  
    <div class="mb-3">
        <label for="formFileSm" class="form-label">Ürün Resim</label>
        <input class="form-control form-control-sm" asp-for="Image" type="file">
    </div>
    <div class="mb-3">

        <select class="form-select" asp-for="CategoryId" asp-items="@ViewBag.category">
        </select>
        <span class="text-danger" asp-validation-for="CategoryId"></span>

    </div>

    <button class="btn btn-primary" type="submit">Ürün Güncelle</button>



</form>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }


