@using DTO;
@using Entity;
@model ShoppingListDto

<h1>Create Shopping List</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
