@using Entity;
@model IEnumerable<Category>
@{
    var selectedCategory = Context.Request.RouteValues["id"];
}

<ul class="list-group">
    <a asp-action="Index"asp-controller="Home" class="list-group-item">
        <i class="fas fa-angle-double-right" aria-hidden="true"></i>
        Tüm Kategoriler
    </a>



    @foreach (var item in Model)
    {
        if (selectedCategory != null)
        {
            if (item.Id == int.Parse(selectedCategory.ToString()))
            {
                //seçilen kategori ile gelen id birbirine eşittir.
                <a href="/Home/Index/@item.Id" class="list-group-item active">
                    <i class="fas fa-angle-double-right" aria-hidden="true"></i>
                    @item.
                </a>
            }
            else
            {
                <a href="/Home/Index/@item.Id" class="list-group-item ">
                    <i class="fas fa-angle-double-right" aria-hidden="true"></i>
                    @item.CategoryName
                </a>
            }
        }
        else
        {
            <a href="/Home/Index/@item.Id" class="list-group-item ">
                <i class="fas fa-angle-double-right" aria-hidden="true"></i>
                @item.CategoryName
            </a>
        }


    }
</ul>