@using Graduation_Project.ViewModels;
@model ProductViewModel
@{
    ViewData["Title"] = "AddProduct";
}

<h1>Ürün Ekleme</h1>

<form asp-controller="Product" asp-action="AddProduct" method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <label asp-for="Name" class="form-label">Ürün ismi :</label>
        <input class="form-control" asp-for="Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <select class="form-select" asp-for="CategoryId" asp-items="@ViewBag.category">
            <option value="">Kategori Seçiniz</option>
        </select>
        <span class="text-danger" asp-validation-for="CategoryId"></span>

    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label">Ürün fiyat :</label>
        <input class="form-control" asp-for="Price">
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>

    <div class="mb-3">
        <label for="formFileSm" class="form-label">Ürün Resim</label>
        <input class="form-control form-control-sm" asp-for="Image" type="file">
    </div>


    <div class="form-group">
        <button class="btn btn-primary" type="submit">Ürün Kaydet</button>
        <a class="btn btn-warning mt-2" asp-controller="Home" asp-action="Index">Geri Dön</a>
    </div>


</form>



@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }






